.bg_day {
  margin: 0;
  padding: 0;
  background: url('../image/bg_day.jpg');
  text-shadow: 2px 2px 5px rgb(23, 23, 23);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bg_night {
  margin: 0;
  padding: 0;
  background: url("../image/bg_night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bg_sunrise {
  margin: 0;
  padding: 0;
  background: url("../image/bg_sunrise.jpg");
  text-shadow: 2px 2px 5px rgb(23, 23, 23);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bg_sunset {
  margin: 0;
  padding: 0;
  background: url("../image/bg_sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.bg_black {
  background-color: black;
  background-image: none;
}